{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    {% include 'header.html.twig' %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">

            {% for trailer in trailers %}
                <tr class="movie {{ trailer.id }}">
                    <td>
                        <div class="poster"><img src="{{ trailer.image }}" alt="{{ trailer.title }}"></div>
                        <div class="caption"><a href="/trailer?id={{ trailer.id }}">{{ trailer.title }}</a></div>
                        <div class="likes">
                            Лайков: <span class="likes_val">{{ likes[trailer.id] ?? 0 }}</span>
                            {% if login %}
                                <div class="like" data-movie-id="{{ trailer.id }}">Лайкнуть</div>
                            {% endif %}
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
